@model AmarisMVC.LLM.Data

@{
    ViewBag.Title = "Home Page";
    List<AmarisMVC.LLM.Data> ListEmployees = null;

    if (ViewBag.Employees != null)
    {
        ListEmployees = ViewBag.Employees as List<AmarisMVC.LLM.Data>;
    }
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">LIST EMPLOYEE</h1>
    </section>

    <div class="row">

        <div class="col-ms-4">
            <label for="employeeId">Employee ID:</label>
        </div>
        <div class="col-ms-4">
            <input type="text" id="employeeId" name="employeeId" />
        </div>
        <div class="col-ms-4">
            <button id="searchButton">Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="employeeTable" class="table-striped table-bordered table-sm font-size-sm hg-filtro-estandar font-size-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th><a href="#">Id</a></th>
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Salary</a></th>
                        <th><a href="#">Age</a></th>
                        <th><a href="#">Profile</a></th>
                        <th><a href="#">Salary Anual</a></th>
                    </tr>
                </thead>
                <tbody>
                    @if (ListEmployees != null && ListEmployees.Count() > 0)
                        {
                            foreach (var item in ListEmployees)
                            {
                                <tr>
                                    <td>@Html.ActionLink("Consultar", "Editar", new { id = item.id })</td>
                                    <td>@item.id</td>
                                    <td>@item.employee_name</td>
                                    <td>@item.employee_salary</td>
                                    <td>@item.employee_age</td>
                                    <td>@item.profile_image</td>
                                    <td>@AmarisMVC.LLB.EmployeePrc.CalculateEmployeeAnualSalary(Convert.ToDecimal(item.employee_salary))</td>
                                </tr>
                            }
                        }
                </tbody>
            </table>
        </div>
    </div>

</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#searchButton').click(function () {
            var employeeId = $('#employeeId').val();

            $.ajax({
                url: employeeId ? '/Employee/Search/' + employeeId : '/Employee/Index',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    populateTable(data);
                },
                error: function () {
                    alert('Error occurred while retrieving employee data.');
                }
            });
        });
    });
</script>